/* Shared CSS among webpages */
:root {
  --fancyColor: rgb(57, 121, 231);
  --backgroundColor: rgb(236, 236, 236);
  --gradientColor1: var(--backgroundColor);
  --gradientColor2: rgb(0, 104, 171);
}

body {
  margin: 0;
  background-color: var(--backgroundColor);
}

a {
  text-decoration: none;
  color: var(--fancyColor);
}

.page-header {
  width: 100vw;
  height: 22vh;
  background: linear-gradient(to left, var(--gradientColor1), var(--gradientColor2));
  margin: 0;
  margin-bottom: 2vh;
}

.page-content {
  width: 100vw;
  height: 66vh;
}

footer {
  height: 10vh;
  margin: 0;
}

.title-container {
  height: 20vh;
}

.title {
  height: auto;
  width: auto;
  font-size: 3.5em;
  text-shadow: 2px 2px 4px rgb(168, 162, 162);
}

.subtitle {
  font-style: italic;
  font-weight: normal;
  font-size: auto;
  font-size: 1.6em;
}

.centering-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
